<div class="container">

      <div *ngIf="books?.length >0;else noBooks" class="row">
          <div class="col-md-3" *ngFor="let book of books">
                <img src="{{book.img}}" alt="" class="img-responsive" width="100%">
                <h6 class="eclipsis">{{book.name}}</h6>
                <p>Giá : {{book.price}}</p>
                <button class="btn btn-primary" (click)="editBook($event,book)" >Sửa</button>
                <button class="btn btn-danger" (click)="deleteBook($event,book)" >Xóa</button>
          </div>
      </div>
      <ng-template  #noBooks >
          <h1>No book here</h1>
      </ng-template>
    
</div>
    
<book-list [bookToEdit]="bookToEdit" [editState]="editState" (state)="changeState($event) " ></book-list>